* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  margin: 12px;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  color: white;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media screen and (min-width: 700px) {
  body {
    margin: 20px;
  }
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 920px) {
  .main-container {
    width: 880px;
    margin: 8px auto;
    font-size: 1.1em;
  }
}


/* location-and-date */
.location-and-date {
  width: 100%;
  display: flex;
  justify-content:space-between;
}

.location-and-date__location {
  margin: 0;
  font-size: 2em;
  font-weight: 600;
}



/* current-temperature */
.current-temperature {
  display: flex;
  margin-top: 0.25em;
  width: 100%;
}

.current-temperature__icon-container {
  flex-grow: 1.25;
  text-align: center;
}

.current-temperature__content-container {
  flex-grow: 1;
  text-align: center;
}

.current-temperature__icon {
  width: 10.5em;
}

.current-temperature__value {
  font-size: 5.25em;
  font-weight: 300;
}

.current-temperature__summary {
  margin-top: -0.5em;
  margin-left: -0.6em;
  text-align: center;
  font-size: 1.125em;
}



/* current-stats */
.current-stats {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1em;
  width: 100%;
  border-top: 1px solid rgba(255,255,255,0.5);
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

@media screen and (min-width: 700px) {
  .current-stats {
    margin-bottom: 1em;
    padding-bottom: 0;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid rgba(255,255,255,0.5);
  }
}

.current-stats__value {
  margin-top: 1em;
  font-size: 1.44em;
}

.current-stats__label {
  color: rgba(255,255,255,0.6);
}

@media screen and (min-width: 700px) {
  .current-temperature,
  .current-stats {
    width: 50%;
  }
}



/* weather-by-hour */
.weather-by-hour {
  display: none;
  width: 100%;
}

@media screen and (min-width: 700px) {
  .weather-by-hour {
    display: block;
  }
}

.weather-by-hour__container {
  display: flex;
  justify-content: space-between;
}

.weather-by-hour__heading,
.next-5-days__heading {
  color: rgba(255,255,255,0.8);
  font-size: 1em;
  font-weight: normal;
}

@media screen and (min-width: 768px) {
  .weather-by-hour__heading,
  .next-5-days__heading {
    font-size: 1.125em;
  }
}

.weather-by-hour__item {
  padding: 0.8em 0;
  width: 13%;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.15);
  font-size: 1.125em;
  text-align: center;
}

@media screen and (min-width: 880px) {
  .weather-by-hour__item {
    width: 6.05em;
  }
}

.weather-by-hour__hour {
  margin-bottom: 0.5em;
}



/* next-5-days */
.next-5-days {
  width: 100%;
  margin-top: 1em;
}

.next-5-days__container {
  display: flex;
  flex-wrap: wrap;
}

.next-5-days__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0.3em;
  padding: 0.8em 0;
  width: 100%;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.20);
  font-size: 1.19em;
  text-align: center;
}

.next-5-days__label {
  color: rgba(255,255,255,0.6);
  font-size: 0.83em;
}

.next-5-days__date,
.next-5-days__high,
.next-5-days__low,
.next-5-days__icon,
.next-5-days__rain,
.next-5-days__wind {
  width: 33.33333%;
  font-size: 0.95em;
}

.next-5-days__date,
.next-5-days__high,
.next-5-days__low {
  margin-bottom: 0.6em;
}



@media screen and (min-width: 450px) {
  .next-5-days__date,
  .next-5-days__high,
  .next-5-days__low,
  .next-5-days__icon,
  .next-5-days__rain,
  .next-5-days__wind {
    width: 16.666666%;
    margin-bottom: initial;
  }

  .next-5-days__date {
    order: -2;
  }

  .next-5-days__icon {
    order: -1;
  }
}  
.next-5-days__icon img{
  max-width:30%;
  height:auto;
}

.searchbar-holder{
  float: right;
}


/* css for the form */
.search-container {
  float: right;
}

.search-container input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: rgba(255,255,255,0.5);
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  /* .search-container {
    float: none;
    justify-content: flex-end;
  } */
  .search-container input[type=text], .topnav .search-container button {
    float: right;
    display: block;
    text-align: left;
    width: 70%;
    margin: 0;
    padding: 7px;
  }
  .search-container input[type=text] {
    border: 3px solid #2350BB;
    font-size: 12px;
    border-radius: 25px; 
  }
  .search-container button{
    display:none;
  }

}


.footer-credits a{
  text-decoration-color: white;
  text-decoration-thickness: 3px;

  color: white;
}